/*
 * Estilos base
 */
body {
	padding: 15px;
}
h1 {
	text-align: center;
}
label {
	display: block;
	font-weight: bold;
}

/*
 * Estilos de clases
 */
.dragOver {
	border-color: #f00 !important;
}
.bar {
	background: #ff0;
	height: 100%;
	display: block;
}
.fail {
	background: #f00;
}
.progress {
	border: solid 1px #000;
	display: block;
	height: 10px;
}
.success {
	background: #0f0;
}

/*
 * Estilos de IDs
 */
#dragArea {
	border: dotted 2px #999;
	border-radius: 8px;
	margin: 10px 0;
	padding: 15px;
}
#upload {
	margin: auto;
	text-align: center;
	width: 480px;
}